.header {
  width: 882px;
  padding: 45px 0 40.6px 0;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 1023px) {
  .header {
    width: 600px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 28px 0 31.6px 27px;
    width: 320px;
    box-sizing: border-box;
  }
}
