.profile__button {
  padding: 0;
  margin: 5px 0 0 15px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: 0.335s ease-in-out;
}

.profile__button:hover {
  opacity: 0.6;
  cursor: pointer;
}
