.popup__close {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(/images/close.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
  border: none;
  cursor: pointer;
  transition: 0.335s ease-in-out;
}

.popup__close:hover {
  opacity: 0.6;
}

@media (max-width: 767px) {
  .popup__close {
    width: 30px;
    height: 30px;
    right: 0;
    background-image: url(/images/small-close.svg);
  }
}
