.elements__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  grid-gap: 20px 17px;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .elements__list {
    gap: 20px 0;
    width: 88.12%;
    margin: 0 auto;
  }
}
