.profile__button_edit {
  margin: 4px 0 0 20px;
  width: 24px;
  height: 24px;
  background-image: url(/images/pencil.svg);
  border: 1px solid #fff;
}

@media (max-width: 767px) {
  .profile__button_edit {
    margin: 2px 20px 0 10px;
    width: 18px;
    height: 18px;
    background-size: 7.5px;
  }
}
