.header {
  width: 882px;
  padding: 45px 0 40.6px 0;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 700px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 28px 0 31.6px 27px;
    min-width: 320px;
    box-sizing: border-box;
  }
}
